<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg
    name="cad_assembly_amr_final_1" />

    <!--       ADDED Controller .yaml -->
  <!-- <param
    name="robot_controller"
    textfile="$(find cad_assembly_amr_final_1)/config/joint_names_cad_assembly_amr_final_1.yaml" /> -->
  <include file="$(find cad_assembly_amr_final_1)/config/joint_names_cad_assembly_amr_final_1.launch" />
    
  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find cad_assembly_amr_final_1)/urdf/cad_assembly_amr_final_1.xacro"/>   
  <node 
    name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="/joint_states" to="/joint_states" />
    <param name="use_gui" value="TRUE"/>
  </node>

   <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" -->
    <!-- respawn="false" output="screen"> -->
    <!-- <remap from="/joint_states" to="/joint_states" /> -->
  <!-- </node> -->

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find roboteq_motor_controller_driver)/config/rviz.rviz"/>
<rosparam command="load" file="$(find roboteq_motor_controller_driver)/config/query.yaml" />

<node name = "roboteq_motor_controller_driver" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen">
  </node>

  <node name = "diff_odom" pkg = "roboteq_motor_controller_driver" type = "diff_odom" output = "screen">
  </node>
<!--  -->

</launch>