<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <machine name="fsm" address="10.194.173.205" password="123456" env-loader="/home/fsm/krrish/devel/env.sh" user="fsm"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_map" -->
  <!-- args="0 0 0 0 0 0  /map /odom 100" />  -->

<!--         URDF launch        -->
  <arg
    name="cad_assembly_amr_final_1" />
  <include file="$(find cad_assembly_amr_final_1)/config/joint_names_cad_assembly_amr_final_1.launch" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro' use_nominal_extrinsics:=false"/>
  
    
  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find cad_assembly_amr_final_1)/urdf/cad_assembly_amr_final_1.xacro"/>   
  <node 
    name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="/joint_states" to="/joint_states" />
    <param name="use_gui" value="TRUE"/>
  </node>
  
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find roboteq_motor_controller_driver)/config/rviz.rviz"/>

  <!-- <node pkg="navstack_pub" type="rviz_click_to_2d" name="rviz_click_to_2d"/> -->


<!--       Roboteq motor driver      -->
<rosparam  command="load" file="$(find roboteq_motor_controller_driver)/config/query.yaml" />
<node  name = "roboteq_motor_controller_driver" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen">
  </node>
<!--        Roboteq odom_cal          -->
  <node  name = "diff_odom" pkg = "roboteq_motor_controller_driver" type = "diff_odom" output = "screen">
  </node>


<!--       PnF Lidar                  -->
  <include file="$(find pepperl_fuchs_r2000)/launch/r2000.launch" />



<!--        SCAN FILTER               -->
  <node  name = "cloud_segment" pkg = "cloud_segment" type = "cloud_segment" output = "screen">
  </node>
  
  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" />

  <include file="$(find realsense2_camera)/launch/rs_d435_camera_with_model.launch" />
<!--  -->
  <node  name = "pcl" pkg = "my_pcl_tutorial" type = "pcl" output = "screen">
  </node>
	  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
	  <!-- <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" /> -->
	  <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher"/>

</launch>