<launch>
 <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find mr_robot_gazebo)/worlds/turtlebot3_house.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
    <!-- <arg name="paused" value="true"/> -->
    <!-- </include> -->
    <!-- <param name="robot_description" textfile="$(find cad_assembly_amr_final_1)/urdf/cad_assembly_amr_final_1.urdf"/> -->
<param command="$(find xacro)/xacro $(find cad_assembly_amr_final_1)/urdf/cad_assembly_amr_final_1.xacro" name="robot_description"/>

	<node args="-param robot_description -urdf -model cad_assembly_amr_final_1" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> -->
    <!-- <param name="use_gui" value="false"/> -->
  <!-- </node> -->

  <!-- <node name="gazebo" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 world map"/> -->
  <!-- <node name="tf2_buffer_server" pkg="tf2_ros" type="tf2_buffer_server"/> -->
  <node name="tf2_static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link sensor_laser"/>


    <!-- <arg name="world_name" value="$(find mr_robot_gazebo)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/> -->
  <!-- <node -->
    <!-- name="tf_footprint_base" -->
    <!-- pkg="tf" -->
    <!-- type="static_transform_publisher" -->
    <!-- args="0 0 0 0 0 0 base_link base_footprint 40" /> -->

  <!-- <node -->
    <!-- name="fake_joint_calibration" -->
    <!-- pkg="rostopic" -->
    <!-- type="rostopic" -->
    <!-- args="pub /calibrated std_msgs/Bool true" /> -->
</launch>